nc/scp/WSEndUser.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2 git-revision#3d0bba4. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://enduser.service.web.vcp.netcup.de/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://enduser.service.web.vcp.netcup.de/" name="WSEndUserService">
<types>
<xsd:schema>
<xsd:import namespace="http://enduser.service.web.vcp.netcup.de/" schemaLocation="https://www.servercontrolpanel.de/SCP/WSEndUser?xsd=1"/>
</xsd:schema>
</types>
<message name="getVServerInformation">
<part name="parameters" element="tns:getVServerInformation"/>
</message>
<message name="getVServerInformationResponse">
<part name="parameters" element="tns:getVServerInformationResponse"/>
</message>
<message name="stopVServer">
<part name="parameters" element="tns:stopVServer"/>
</message>
<message name="stopVServerResponse">
<part name="parameters" element="tns:stopVServerResponse"/>
</message>
<message name="startVServer">
<part name="parameters" element="tns:startVServer"/>
</message>
<message name="startVServerResponse">
<part name="parameters" element="tns:startVServerResponse"/>
</message>
<message name="getVServerIPs">
<part name="parameters" element="tns:getVServerIPs"/>
</message>
<message name="getVServerIPsResponse">
<part name="parameters" element="tns:getVServerIPsResponse"/>
</message>
<message name="vServerACPIShutdown">
<part name="parameters" element="tns:vServerACPIShutdown"/>
</message>
<message name="vServerACPIShutdownResponse">
<part name="parameters" element="tns:vServerACPIShutdownResponse"/>
</message>
<message name="vServerACPIReboot">
<part name="parameters" element="tns:vServerACPIReboot"/>
</message>
<message name="vServerACPIRebootResponse">
<part name="parameters" element="tns:vServerACPIRebootResponse"/>
</message>
<message name="vServerReset">
<part name="parameters" element="tns:vServerReset"/>
</message>
<message name="vServerResetResponse">
<part name="parameters" element="tns:vServerResetResponse"/>
</message>
<message name="vServerPoweroff">
<part name="parameters" element="tns:vServerPoweroff"/>
</message>
<message name="vServerPoweroffResponse">
<part name="parameters" element="tns:vServerPoweroffResponse"/>
</message>
<message name="changeUserPassword">
<part name="parameters" element="tns:changeUserPassword"/>
</message>
<message name="changeUserPasswordResponse">
<part name="parameters" element="tns:changeUserPasswordResponse"/>
</message>
<message name="addCloudVLANInterface">
<part name="parameters" element="tns:addCloudVLANInterface"/>
</message>
<message name="addCloudVLANInterfaceResponse">
<part name="parameters" element="tns:addCloudVLANInterfaceResponse"/>
</message>
<message name="changeIPRouting">
<part name="parameters" element="tns:changeIPRouting"/>
</message>
<message name="changeIPRoutingResponse">
<part name="parameters" element="tns:changeIPRoutingResponse"/>
</message>
<message name="getLoginToken">
<part name="parameters" element="tns:getLoginToken"/>
</message>
<message name="getLoginTokenResponse">
<part name="parameters" element="tns:getLoginTokenResponse"/>
</message>
<message name="sendPasswordResetRequest">
<part name="parameters" element="tns:sendPasswordResetRequest"/>
</message>
<message name="sendPasswordResetRequestResponse">
<part name="parameters" element="tns:sendPasswordResetRequestResponse"/>
</message>
<message name="getVServerLogEntryCount">
<part name="parameters" element="tns:getVServerLogEntryCount"/>
</message>
<message name="getVServerLogEntryCountResponse">
<part name="parameters" element="tns:getVServerLogEntryCountResponse"/>
</message>
<message name="getVServerLogEntries">
<part name="parameters" element="tns:getVServerLogEntries"/>
</message>
<message name="getVServerLogEntriesResponse">
<part name="parameters" element="tns:getVServerLogEntriesResponse"/>
</message>
<message name="getVServerNickname">
<part name="parameters" element="tns:getVServerNickname"/>
</message>
<message name="getVServerNicknameResponse">
<part name="parameters" element="tns:getVServerNicknameResponse"/>
</message>
<message name="setVServerNickname">
<part name="parameters" element="tns:setVServerNickname"/>
</message>
<message name="setVServerNicknameResponse">
<part name="parameters" element="tns:setVServerNicknameResponse"/>
</message>
<message name="getVServerState">
<part name="parameters" element="tns:getVServerState"/>
</message>
<message name="getVServerStateResponse">
<part name="parameters" element="tns:getVServerStateResponse"/>
</message>
<message name="getVServerUptime">
<part name="parameters" element="tns:getVServerUptime"/>
</message>
<message name="getVServerUptimeResponse">
<part name="parameters" element="tns:getVServerUptimeResponse"/>
</message>
<message name="getVServerUpdateNotification">
<part name="parameters" element="tns:getVServerUpdateNotification"/>
</message>
<message name="getVServerUpdateNotificationResponse">
<part name="parameters" element="tns:getVServerUpdateNotificationResponse"/>
</message>
<message name="vServerStart">
<part name="parameters" element="tns:vServerStart"/>
</message>
<message name="vServerStartResponse">
<part name="parameters" element="tns:vServerStartResponse"/>
</message>
<message name="vServerSuspend">
<part name="parameters" element="tns:vServerSuspend"/>
</message>
<message name="vServerSuspendResponse">
<part name="parameters" element="tns:vServerSuspendResponse"/>
</message>
<message name="vServerResume">
<part name="parameters" element="tns:vServerResume"/>
</message>
<message name="vServerResumeResponse">
<part name="parameters" element="tns:vServerResumeResponse"/>
</message>
<message name="vServerRestore">
<part name="parameters" element="tns:vServerRestore"/>
</message>
<message name="vServerRestoreResponse">
<part name="parameters" element="tns:vServerRestoreResponse"/>
</message>
<message name="getVServerStatToken">
<part name="parameters" element="tns:getVServerStatToken"/>
</message>
<message name="getVServerStatTokenResponse">
<part name="parameters" element="tns:getVServerStatTokenResponse"/>
</message>
<message name="getVServerTrafficOfDay">
<part name="parameters" element="tns:getVServerTrafficOfDay"/>
</message>
<message name="getVServerTrafficOfDayResponse">
<part name="parameters" element="tns:getVServerTrafficOfDayResponse"/>
</message>
<message name="getVServerTrafficOfMonth">
<part name="parameters" element="tns:getVServerTrafficOfMonth"/>
</message>
<message name="getVServerTrafficOfMonthResponse">
<part name="parameters" element="tns:getVServerTrafficOfMonthResponse"/>
</message>
<message name="setPanelSettings">
<part name="parameters" element="tns:setPanelSettings"/>
</message>
<message name="setPanelSettingsResponse">
<part name="parameters" element="tns:setPanelSettingsResponse"/>
</message>
<message name="getVServers">
<part name="parameters" element="tns:getVServers"/>
</message>
<message name="getVServersResponse">
<part name="parameters" element="tns:getVServersResponse"/>
</message>
<message name="getPanelSettings">
<part name="parameters" element="tns:getPanelSettings"/>
</message>
<message name="getPanelSettingsResponse">
<part name="parameters" element="tns:getPanelSettingsResponse"/>
</message>
<message name="getUserData">
<part name="parameters" element="tns:getUserData"/>
</message>
<message name="getUserDataResponse">
<part name="parameters" element="tns:getUserDataResponse"/>
</message>
<portType name="WSEndUser">
<operation name="getVServerInformation">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerInformationRequest" message="tns:getVServerInformation"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerInformationResponse" message="tns:getVServerInformationResponse"/>
</operation>
<operation name="stopVServer">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/stopVServerRequest" message="tns:stopVServer"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/stopVServerResponse" message="tns:stopVServerResponse"/>
</operation>
<operation name="startVServer">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/startVServerRequest" message="tns:startVServer"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/startVServerResponse" message="tns:startVServerResponse"/>
</operation>
<operation name="getVServerIPs">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerIPsRequest" message="tns:getVServerIPs"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerIPsResponse" message="tns:getVServerIPsResponse"/>
</operation>
<operation name="vServerACPIShutdown">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/vServerACPIShutdownRequest" message="tns:vServerACPIShutdown"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/vServerACPIShutdownResponse" message="tns:vServerACPIShutdownResponse"/>
</operation>
<operation name="vServerACPIReboot">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/vServerACPIRebootRequest" message="tns:vServerACPIReboot"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/vServerACPIRebootResponse" message="tns:vServerACPIRebootResponse"/>
</operation>
<operation name="vServerReset">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/vServerResetRequest" message="tns:vServerReset"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/vServerResetResponse" message="tns:vServerResetResponse"/>
</operation>
<operation name="vServerPoweroff">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/vServerPoweroffRequest" message="tns:vServerPoweroff"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/vServerPoweroffResponse" message="tns:vServerPoweroffResponse"/>
</operation>
<operation name="changeUserPassword">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/changeUserPasswordRequest" message="tns:changeUserPassword"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/changeUserPasswordResponse" message="tns:changeUserPasswordResponse"/>
</operation>
<operation name="addCloudVLANInterface">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/addCloudVLANInterfaceRequest" message="tns:addCloudVLANInterface"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/addCloudVLANInterfaceResponse" message="tns:addCloudVLANInterfaceResponse"/>
</operation>
<operation name="changeIPRouting">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/changeIPRoutingRequest" message="tns:changeIPRouting"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/changeIPRoutingResponse" message="tns:changeIPRoutingResponse"/>
</operation>
<operation name="getLoginToken">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getLoginTokenRequest" message="tns:getLoginToken"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getLoginTokenResponse" message="tns:getLoginTokenResponse"/>
</operation>
<operation name="sendPasswordResetRequest">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/sendPasswordResetRequestRequest" message="tns:sendPasswordResetRequest"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/sendPasswordResetRequestResponse" message="tns:sendPasswordResetRequestResponse"/>
</operation>
<operation name="getVServerLogEntryCount">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerLogEntryCountRequest" message="tns:getVServerLogEntryCount"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerLogEntryCountResponse" message="tns:getVServerLogEntryCountResponse"/>
</operation>
<operation name="getVServerLogEntries">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerLogEntriesRequest" message="tns:getVServerLogEntries"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerLogEntriesResponse" message="tns:getVServerLogEntriesResponse"/>
</operation>
<operation name="getVServerNickname">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerNicknameRequest" message="tns:getVServerNickname"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerNicknameResponse" message="tns:getVServerNicknameResponse"/>
</operation>
<operation name="setVServerNickname">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/setVServerNicknameRequest" message="tns:setVServerNickname"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/setVServerNicknameResponse" message="tns:setVServerNicknameResponse"/>
</operation>
<operation name="getVServerState">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerStateRequest" message="tns:getVServerState"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerStateResponse" message="tns:getVServerStateResponse"/>
</operation>
<operation name="getVServerUptime">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerUptimeRequest" message="tns:getVServerUptime"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerUptimeResponse" message="tns:getVServerUptimeResponse"/>
</operation>
<operation name="getVServerUpdateNotification">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerUpdateNotificationRequest" message="tns:getVServerUpdateNotification"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerUpdateNotificationResponse" message="tns:getVServerUpdateNotificationResponse"/>
</operation>
<operation name="vServerStart">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/vServerStartRequest" message="tns:vServerStart"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/vServerStartResponse" message="tns:vServerStartResponse"/>
</operation>
<operation name="vServerSuspend">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/vServerSuspendRequest" message="tns:vServerSuspend"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/vServerSuspendResponse" message="tns:vServerSuspendResponse"/>
</operation>
<operation name="vServerResume">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/vServerResumeRequest" message="tns:vServerResume"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/vServerResumeResponse" message="tns:vServerResumeResponse"/>
</operation>
<operation name="vServerRestore">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/vServerRestoreRequest" message="tns:vServerRestore"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/vServerRestoreResponse" message="tns:vServerRestoreResponse"/>
</operation>
<operation name="getVServerStatToken">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerStatTokenRequest" message="tns:getVServerStatToken"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerStatTokenResponse" message="tns:getVServerStatTokenResponse"/>
</operation>
<operation name="getVServerTrafficOfDay">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerTrafficOfDayRequest" message="tns:getVServerTrafficOfDay"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerTrafficOfDayResponse" message="tns:getVServerTrafficOfDayResponse"/>
</operation>
<operation name="getVServerTrafficOfMonth">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerTrafficOfMonthRequest" message="tns:getVServerTrafficOfMonth"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServerTrafficOfMonthResponse" message="tns:getVServerTrafficOfMonthResponse"/>
</operation>
<operation name="setPanelSettings">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/setPanelSettingsRequest" message="tns:setPanelSettings"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/setPanelSettingsResponse" message="tns:setPanelSettingsResponse"/>
</operation>
<operation name="getVServers">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServersRequest" message="tns:getVServers"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getVServersResponse" message="tns:getVServersResponse"/>
</operation>
<operation name="getPanelSettings">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getPanelSettingsRequest" message="tns:getPanelSettings"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getPanelSettingsResponse" message="tns:getPanelSettingsResponse"/>
</operation>
<operation name="getUserData">
<input wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getUserDataRequest" message="tns:getUserData"/>
<output wsam:Action="http://enduser.service.web.vcp.netcup.de/WSEndUser/getUserDataResponse" message="tns:getUserDataResponse"/>
</operation>
</portType>
<binding name="WSEndUserPortBinding" type="tns:WSEndUser">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getVServerInformation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="stopVServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="startVServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVServerIPs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vServerACPIShutdown">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vServerACPIReboot">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vServerReset">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vServerPoweroff">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeUserPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCloudVLANInterface">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="changeIPRouting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLoginToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="sendPasswordResetRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVServerLogEntryCount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVServerLogEntries">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVServerNickname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setVServerNickname">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVServerState">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVServerUptime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVServerUpdateNotification">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vServerStart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vServerSuspend">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vServerResume">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="vServerRestore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVServerStatToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVServerTrafficOfDay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVServerTrafficOfMonth">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPanelSettings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getVServers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getPanelSettings">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUserData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSEndUserService">
<port name="WSEndUserPort" binding="tns:WSEndUserPortBinding">
<soap:address location="https://www.servercontrolpanel.de/SCP/WSEndUser"/>
</port>
</service>
</definitions>